*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  min-height: 100dvh
}
.con {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con > .text {
  font-family: Syncopate, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #eee;
  letter-spacing: .5rem;
}
.con > .text div:not(.letter){
  display: inline-flex;
  overflow: hidden;
}
.con > .text  .link {
  overflow: visible;
  position: absolute;
  opacity: 0;
}
/* .con > .text > * > .letter {
  opacity: 0;
} */
.con > .dots {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  display: inline-flex;
  column-gap: 0.5rem;
}
.con > .dots > * {
  background-color: tomato;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.con > .scissors {
  opacity: 0;
  position: absolute;
  transform: translate(-50%, 0);
  rotate: -15deg;
}
.con > .scissors2 {
  opacity: 0;
  position: absolute;
  transform: translate(-50%, 40%);
  rotate: 90deg;
}
.con > .scissors2 > video {
  width: 100px
}

@media only screen and (max-width: 1024px) {
  .con > .text {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .con > .text {
    font-size: 0.8rem;
    letter-spacing: .5rem;
  }
  .con > .scissors2 {
    transform: translate(-50%, 30%);
  }
  .con > .scissors2 > video {
    width: 75px
  }
}
@media only screen and (max-width: 425px) {
  .con > .text {
    font-weight: 700;
    font-size: 0.6rem;
    letter-spacing: .5rem;
  }
}